<div class="page">
  <div class="container">

      <div class="cards">
        <div class="card" style="background-image: url(<%= image_path 'refreshments.jpg' %>);">
          <%= link_to story_path do %>
            <p>our story</p>
          <% end %>
        </div>

        <div class="card" style="background-image: url(<%= image_path 'refreshments.jpg' %>);">
          <%= link_to team_path do %>
            <p>our team</p>
          <% end %>
        </div>

        <div class="card" style="background-image: url(<%= image_path 'refreshments.jpg' %>);">
          <%= link_to menu_path do %>
            <p>our menu</p>
          <% end %>
        </div>

        <div class="card" style="background-image: url(<%= image_path 'refreshments.jpg' %>);">
          <%= link_to reviews_path do %>
            <p>our reviews</p>
          <% end %>
        </div>

        <div class="card" style="background-image: url(<%= image_path 'refreshments.jpg' %>);">
          <%= link_to responsibility_path do %>
            <p>social responsibility</p>
          <% end %>
        </div>

        <div class="card" style="background-image: url(<%= image_path 'refreshments.jpg' %>);">
          <%= link_to contact_path do %>
            <p>contact us</p>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
