<div class="page">
  <ul>
    <div class="cards">
      <div class="card">
        <li><%= link_to story_path do %>
          our story
          <%= image_tag "refreshments.jpg", alt: "story-picture" %>
          <% end %>
        </li>
      </div>

      <div class="card">
        <li><%= link_to team_path do %>
          our team
          <%= image_tag "refreshments.jpg", alt: "team-picture" %>
          <% end %>
        </li>
      </div>

      <div class="card">
        <li><%= link_to menu_path do %>
          our menu
          <%= image_tag "refreshments.jpg", alt: "menu-picture" %>
          <% end %>
        </li>
      </div>

      <div class="card">
        <li><%= link_to reviews_path do %>
          our reviews
          <%= image_tag "refreshments.jpg", alt: "review-picture" %>
          <% end %>
        </li>
      </div>

      <div class="card">
        <li><%= link_to responsibility_path do %>
          social responsibility
          <%= image_tag "refreshments.jpg", alt: "social-responsibility-picture" %>
          <% end %>
        </li>
      </div>

      <div class="card">
        <li><%= link_to contact_path do %>
          contact us
          <%= image_tag "refreshments.jpg", alt: "contact-picture" %>
          <% end %>
        </li>
      </div>
    </div>
  </ul>

  </div>
</div>
