<div class="page">
  <div class="container">
    <h1>what people say about us</h1>

    <p>Our average rating is <%= @average.to_f %>!</p>

    <p>If you like, please <%= link_to "leave us a review", new_review_path %></p>

    <% @reviews.each do |review| %>
      <div class="review">
        <h5>Name: <%= "#{review.name}" %></h5>
        <p>Email: <%= "#{review.email}" %></p>
        <p>Comment: <%= "#{review.comment}" %></p>
        <p>Stars: <%= "#{review.stars}" %></p>
        <br>
      </div>
    <% end %>
  </div>
</div>
