<div class="container form">
  <%= simple_form_for(@review) do |f| %>
    <%= f.input :name, label: "Name", required: true %>
    <%= f.input :email, label: "Email", required: true %>
    <%= f.input :comment, label: "Comment", required: true %>
    <%= f.input :stars, label: "Stars", collection: %w[1 2 3 4 5], required: true, class:'genForm_dropBox' %>
    <%= f.button :submit, label: "Create Review", class: "btn btn-primary" %>
  <% end %>
</div>
