<div class="container form">
  <%= simple_form_for(@review) do |f| %>
    <%= f.input :name, label: "Name" %>
    <%= f.input :name, label: "Review" %>
    <%= f.input :name, label: "Stars" %>
    <%= f.button :submit, label: "Create Review", class: "btn btn-primary" %>
  <% end %>
</div>
